
/* Default - light gray */
.id-container path.area.stroke {
    stroke: #ddd;
    stroke-width: 1;
}
.id-container path.area.fill {
    stroke-width: 0;
    stroke: rgba(255, 255, 255, 0.3);
    fill: rgba(255, 255, 255, 0.3);
    fill-rule: evenodd;
}
.id-container .preset-icon-fill-area {
    border: 1px solid #aaaaaa;
    background-color: rgba(170, 170, 170, 0.3);
}
.id-container path.shadow.old-multipolygon,
.id-container path.stroke.old-multipolygon {
    stroke-dasharray: 100, 5;
    stroke-linecap: butt;
}

/* Green things */
.id-container path.stroke.tag-landuse,
.id-container path.stroke.tag-natural,
.id-container path.stroke.tag-leisure-nature_reserve,
.id-container path.stroke.tag-leisure-pitch,
.id-container path.stroke.tag-leisure-park {
    stroke: #8cd05f;
}
.id-container path.fill.tag-landuse,
.id-container path.fill.tag-natural,
.id-container path.fill.tag-leisure-nature_reserve,
.id-container path.fill.tag-leisure-pitch,
.id-container path.fill.tag-leisure-park {
    stroke: rgba(140, 208, 95, 0.3);
    fill: rgba(140, 208, 95, 0.3);
}
.id-container .preset-icon-fill-area.tag-landuse,
.id-container .preset-icon-fill-area.tag-natural,
.id-container .preset-icon-fill-area.tag-leisure-nature_reserve,
.id-container .preset-icon-fill-area.tag-leisure-pitch,
.id-container .preset-icon-fill-area.tag-leisure-park {
    border-color: #8cd05f;
    background-color: rgba(140, 208, 95, 0.3);
}

/* Blue things */
.id-container path.stroke.tag-amenity-swimming_pool,
.id-container path.stroke.tag-leisure-swimming_pool,
.id-container path.stroke.tag-natural-water,
.id-container path.stroke.tag-landuse-aquaculture,
.id-container path.stroke.tag-landuse-basin,
.id-container path.stroke.tag-landuse-harbour,
.id-container path.stroke.tag-landuse-reservoir {
    stroke: #77d3de;
}
.id-container path.fill.tag-amenity-swimming_pool,
.id-container path.fill.tag-leisure-swimming_pool,
.id-container path.fill.tag-landuse-aquaculture,
.id-container path.fill.tag-landuse-basin,
.id-container path.fill.tag-landuse-harbour,
.id-container path.fill.tag-landuse-reservoir,
.id-container path.fill.tag-natural-water {
    stroke: rgba(119, 211, 222, 0.3);
    fill: rgba(119, 211, 222, 0.3);
}
.id-container .preset-icon-fill-area.tag-amenity-swimming_pool,
.id-container .preset-icon-fill-area.tag-leisure-swimming_pool,
.id-container .preset-icon-fill-area.tag-landuse-aquaculture,
.id-container .preset-icon-fill-area.tag-landuse-basin,
.id-container .preset-icon-fill-area.tag-landuse-harbour,
.id-container .preset-icon-fill-area.tag-landuse-reservoir,
.id-container .preset-icon-fill-area.tag-natural-water {
    border-color: #77d3de;
    background-color: rgba(119, 211, 222, 0.3);
}

/* Yellow things */
.id-container .pattern-color-beach,
.id-container .pattern-color-sand,
.id-container .pattern-color-scrub {
    fill: rgba(255, 255, 148, 0.2);
}
.id-container path.stroke.tag-leisure-pitch.tag-sport-beachvolleyball,
.id-container path.stroke.tag-natural-beach,
.id-container path.stroke.tag-natural-sand,
.id-container path.stroke.tag-natural-scrub,
.id-container path.stroke.tag-amenity-childcare,
.id-container path.stroke.tag-amenity-kindergarten,
.id-container path.stroke.tag-amenity-school,
.id-container path.stroke.tag-amenity-college,
.id-container path.stroke.tag-amenity-university {
    stroke: rgba(255, 255, 148, 0.75);
}
.id-container path.fill.tag-leisure-pitch.tag-sport-beachvolleyball,
.id-container path.fill.tag-natural-beach,
.id-container path.fill.tag-natural-sand,
.id-container path.fill.tag-natural-scrub,
.id-container path.fill.tag-amenity-childcare,
.id-container path.fill.tag-amenity-kindergarten,
.id-container path.fill.tag-amenity-school,
.id-container path.fill.tag-amenity-college,
.id-container path.fill.tag-amenity-university {
    stroke: rgba(255, 255, 148, 0.15);
    fill: rgba(255, 255, 148, 0.15);
}
.id-container .preset-icon-fill-area.tag-leisure-pitch.tag-sport-beachvolleyball,
.id-container .preset-icon-fill-area.tag-natural-beach,
.id-container .preset-icon-fill-area.tag-natural-sand,
.id-container .preset-icon-fill-area.tag-natural-scrub,
.id-container .preset-icon-fill-area.tag-amenity-childcare,
.id-container .preset-icon-fill-area.tag-amenity-kindergarten,
.id-container .preset-icon-fill-area.tag-amenity-school,
.id-container .preset-icon-fill-area.tag-amenity-college,
.id-container .preset-icon-fill-area.tag-amenity-university {
    border-color: #e8e800;
    background-color: rgba(255, 255, 148, 0.15);
}

/* Gold things */
.id-container .pattern-color-construction {
    fill: rgba(196, 189, 25, 0.3);
}
.id-container path.stroke.tag-landuse-residential,
.id-container path.stroke.tag-landuse.tag-status,
.id-container path.stroke.tag-landuse-construction {
    stroke: #c4bd19;
}
.id-container path.fill.tag-landuse-residential {
    stroke: rgba(196, 189, 25, 0.3);
    fill: rgba(196, 189, 25, 0.3);
}
.id-container .preset-icon-fill-area.tag-landuse-residential,
.id-container .preset-icon-fill-area.tag-landuse.tag-status,
.id-container .preset-icon-fill-area.tag-landuse-construction {
    border-color: #c4bd19;
    background: rgba(196, 189, 25, 0.3);
}

/* Orange things */
.id-container path.stroke.tag-landuse-retail,
.id-container path.stroke.tag-landuse-commercial,
.id-container path.stroke.tag-landuse-landfill,
.id-container path.stroke.tag-military,
.id-container path.stroke.tag-landuse-military {
    stroke: #d6881a;
}
.id-container path.fill.tag-landuse-retail,
.id-container path.fill.tag-landuse-commercial,
.id-container path.fill.tag-landuse-landfill,
.id-container path.fill.tag-military,
.id-container path.fill.tag-landuse-military {
    stroke: rgba(214, 136, 26, 0.3);
    fill: rgba(214, 136, 26, 0.3);
}
.id-container .preset-icon-fill-area.tag-landuse-retail,
.id-container .preset-icon-fill-area.tag-landuse-commercial,
.id-container .preset-icon-fill-area.tag-landuse-landfill,
.id-container .preset-icon-fill-area.tag-military,
.id-container .preset-icon-fill-area.tag-landuse-military {
    border-color: #d6881a;
    background-color: rgba(214, 136, 26, 0.3);
}

/* Pink things */
.id-container path.stroke.tag-landuse-industrial,
.id-container path.stroke.tag-power-plant {
    stroke: #e4a4f5;
}
.id-container path.fill.tag-landuse-industrial,
.id-container path.fill.tag-power-plant {
    stroke: rgba(228, 164, 245, 0.3);
    fill: rgba(228, 164, 245, 0.3);
}
.id-container .preset-icon-fill-area.tag-landuse-industrial,
.id-container .preset-icon-fill-area.tag-power-plant {
    border-color: #e4a4f5;
    background-color: rgba(228, 164, 245, 0.3);
}

/* Teal things */
.id-container .pattern-color-wetland {
    fill: rgba(153, 225, 170, 0.3);
}
.id-container path.stroke.tag-natural-wetland {
    stroke: #99e1aa;
}
.id-container .preset-icon-fill-area.tag-natural-wetland {
    border-color: #99e1aa;
    background-color: rgba(153, 225, 170, 0.2);
}

/* Light Green things */
.id-container .pattern-color-cemetery,
.id-container .pattern-color-orchard,
.id-container .pattern-color-meadow,
.id-container .pattern-color-farm,
.id-container .pattern-color-farmland {
    fill: rgba(191, 232, 63, 0.2);
}
.id-container path.stroke.tag-landuse-cemetery,
.id-container path.stroke.tag-landuse-orchard,
.id-container path.stroke.tag-landuse-meadow,
.id-container path.stroke.tag-landuse-farm,
.id-container path.stroke.tag-landuse-farmland {
    stroke: #bfe83f;
}
.id-container .preset-icon-fill-area.tag-landuse-cemetery,
.id-container .preset-icon-fill-area.tag-landuse-orchard,
.id-container .preset-icon-fill-area.tag-landuse-meadow,
.id-container .preset-icon-fill-area.tag-landuse-farm,
.id-container .preset-icon-fill-area.tag-landuse-farmland {
    background-color: rgba(191, 232, 63, 0.2);
}

/* Tan things */
.id-container path.stroke.tag-landuse-farmyard {
    stroke: #f5dcba;
}
.id-container path.fill.tag-landuse-farmyard {
    stroke: rgba(245, 220, 186, 0.3);
    fill: rgba(245, 220, 186, 0.3);
}
.id-container .preset-icon-fill-area.tag-landuse-farmyard {
    border-color: #e2b16f;
    background: rgba(245, 220, 186, 0.3);
}

/* Dark Gray things */
.id-container path.stroke.tag-amenity-parking,
.id-container path.stroke.tag-leisure-pitch.tag-sport-basketball,
.id-container path.stroke.tag-leisure-pitch.tag-sport-skateboard,
.id-container path.stroke.tag-natural-bare_rock,
.id-container path.stroke.tag-natural-scree,
.id-container path.stroke.tag-landuse-railway,
.id-container path.stroke.tag-landuse-quarry {
    stroke: #bbb;
}
.id-container path.fill.tag-amenity-parking,
.id-container path.fill.tag-leisure-pitch.tag-sport-basketball,
.id-container path.fill.tag-leisure-pitch.tag-sport-skateboard,
.id-container path.fill.tag-natural-bare_rock,
.id-container path.fill.tag-natural-scree,
.id-container path.fill.tag-landuse-railway,
.id-container path.fill.tag-landuse-quarry {
    stroke: rgba(140, 140, 140, 0.5);
    fill: rgba(140, 140, 140, 0.5);
}
.id-container .preset-icon-fill-area.tag-amenity-parking,
.id-container .preset-icon-fill-area.tag-leisure-pitch.tag-sport-basketball,
.id-container .preset-icon-fill-area.tag-leisure-pitch.tag-sport-skateboard,
.id-container .preset-icon-fill-area.tag-natural-bare_rock,
.id-container .preset-icon-fill-area.tag-natural-scree,
.id-container .preset-icon-fill-area.tag-landuse-railway,
.id-container .preset-icon-fill-area.tag-landuse-quarry {
    border-color: #aaaaaa;
    background-color: rgba(140, 140, 140, 0.5);
}

/* Light gray overrides */
.id-container path.stroke.tag-natural-cave_entrance,
.id-container path.stroke.tag-natural-glacier {
    stroke: #ddd;
}
.id-container path.fill.tag-natural-cave_entrance,
.id-container path.fill.tag-natural-glacier {
    stroke: rgba(255, 255, 255, 0.3);
    fill: rgba(255, 255, 255, 0.3);
}
.id-container .preset-icon-fill-area.tag-natural-cave_entrance,
.id-container .preset-icon-fill-area.tag-natural-glacier {
    border-color: #aaaaaa;
    background: rgba(170, 170, 170, 0.3);
}
