/* Cursors */

/* Fill Styles */
.id-container .map-in-map,
.id-container #map {
    cursor: auto;
    /* Opera */
    cursor: url(img/cursor-grab.png) 9 9, auto;
    /* FF */
}
.id-container .mode-browse .point,
.id-container .mode-select .point {
    cursor: pointer;
    /* Opera */
    cursor: url(img/cursor-select-point.png), pointer;
    /* FF */
}
.id-container .mode-select .vertex,
.id-container .mode-browse .vertex {
    cursor: pointer;
    /* Opera */
    cursor: url(img/cursor-select-vertex.png), pointer;
    /* FF */
}
.id-container .mode-browse .line,
.id-container .mode-select .line {
    cursor: pointer;
    /* Opera */
    cursor: url(img/cursor-select-line.png), pointer;
    /* FF */
}
.id-container .mode-select .area,
.id-container .mode-browse .area {
    cursor: pointer;
    /* Opera */
    cursor: url(img/cursor-select-area.png), pointer;
    /* FF */
}
.id-container .mode-select .midpoint,
.id-container .mode-browse .midpoint {
    cursor: pointer;
    /* Opera */
    cursor: url(img/cursor-select-split.png), pointer;
    /* FF */
}
.id-container .mode-select .behavior-multiselect .point,
.id-container .mode-select .behavior-multiselect .vertex,
.id-container .mode-select .behavior-multiselect .line,
.id-container .mode-select .behavior-multiselect .area {
    cursor: pointer;
    /* Opera */
    cursor: url(img/cursor-select-add.png), pointer;
    /* FF */
}
.id-container .mode-select .behavior-multiselect .selected {
    cursor: pointer;
    /* Opera */
    cursor: url(img/cursor-select-remove.png), pointer;
    /* FF */
}
.id-container #map .point:active,
.id-container #map .vertex:active,
.id-container #map .line:active,
.id-container #map .area:active,
.id-container #map .midpoint:active,
.id-container #map .mode-select .selected {
    cursor: pointer;
    /* Opera */
    cursor: url(img/cursor-select-acting.png), pointer;
    /* FF */
}
.id-container .mode-draw-line #map,
.id-container .mode-draw-area #map,
.id-container .mode-add-line #map,
.id-container .mode-add-area #map,
.id-container .mode-drag-node #map {
    cursor: crosshair;
    /* Opera */
    cursor: url(img/cursor-draw.png) 9 9, crosshair;
    /* FF */
}
.id-container .mode-draw-line .way.hover,
.id-container .mode-draw-area .way.hover,
.id-container .mode-add-line .way.hover,
.id-container .mode-add-area .way.hover,
.id-container .mode-drag-node .way.hover {
    cursor: crosshair;
    /* Opera */
    cursor: url(img/cursor-draw-connect-line.png) 9 9, crosshair;
    /* FF */
}
.id-container .mode-draw-line .vertex.hover,
.id-container .mode-draw-area .vertex.hover,
.id-container .mode-add-line .vertex.hover,
.id-container .mode-add-area .vertex.hover,
.id-container .mode-drag-node .vertex.hover {
    cursor: crosshair;
    /* Opera */
    cursor: url(img/cursor-draw-connect-vertex.png) 9 9, crosshair;
    /* FF */
}
.id-container .mode-add-point #map,
.id-container .mode-browse.lasso #map,
.id-container .mode-browse.lasso .way,
.id-container .mode-browse.lasso .vertex,
.id-container .mode-browse.lasso .midpoint,
.id-container .mode-select.lasso #map,
.id-container .mode-select.lasso .way,
.id-container .mode-select.lasso .vertex,
.id-container .mode-select.lasso .midpoint {
    cursor: crosshair;
    /* Opera */
    cursor: url(img/cursor-draw.png) 9 9, crosshair;
    /* FF */
}
.id-container .turn rect,
.id-container .turn circle {
    cursor: pointer;
}
