/* Fill Styles */

.id-container .low-zoom.fill-wireframe path.stroke,
.id-container .fill-wireframe path.stroke {
    stroke-width: 1 !important;
    stroke-opacity: 0.5 !important;
    stroke-dasharray: none !important;
    fill: none !important;
}
.id-container .low-zoom.fill-wireframe path.shadow,
.id-container .fill-wireframe path.shadow {
    stroke-width: 12;
}
.id-container .fill-wireframe path.shadow.related:not(.selected),
.id-container .fill-wireframe path.shadow.hover:not(.selected) {
    stroke-opacity: 0.4;
}
.id-container .fill-wireframe path.shadow.selected {
    stroke-opacity: 0.6;
}
.id-container .fill-wireframe .point,
.id-container .fill-wireframe .areaicon,
.id-container .fill-wireframe .areaicon-halo,
.id-container .fill-wireframe path.casing,
.id-container .fill-wireframe path.fill,
.id-container .fill-wireframe path.oneway {
    display: none !important;
}
.id-container .fill-partial path.area.fill {
    fill-opacity: 0;
    stroke-width: 60px;
    pointer-events: visibleStroke;
}

/* Modes */

.id-container .mode-draw-line .vertex.active,
.id-container .mode-draw-area .vertex.active,
.id-container .mode-drag-node .vertex.active {
    display: none;
}
.id-container .mode-draw-line .way.active,
.id-container .mode-draw-area .way.active,
.id-container .mode-drag-node .active {
    pointer-events: none;
}

/* Ensure drawing doesn't interact with area fills. */
.id-container .mode-add-point path.area.fill,
.id-container .mode-draw-line path.area.fill,
.id-container .mode-draw-area path.area.fill,
.id-container .mode-add-line path.area.fill,
.id-container .mode-add-area path.area.fill,
.id-container .mode-drag-node path.area.fill {
    pointer-events: none;
}
